{% extends 'base.html' %}
{% block content %}
    {% if messages %}
      {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
<table>
    {% for product in object_list %}
    <tr><td>{{ product.title }}</td>
        {% if product.image %}
        <td><img src="{{ product.image.url }}"></td>
        {% else %}
        <td>No photo</td>
        {% endif %}
        <td>{{ product.description }}</td><td>Цена:{{ product.price }}</td><td>Осталось на складе:{{ product.amount }}</td>{% if user.is_authenticated %}<td>
        <form method="post" action="{% url 'purchase' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ product.pk }}" name="product_id">
            <input type="number" class="purch" name="amount" min="1" value="1">
            <button type="submit">Purchase</button>
        </form> </td>
            {% if user.is_superuser %}<td>
         <a href="{% url 'update' product.pk %}">UpdateProduct</a></td>
    {% endif %}
    {% endif %}
    </tr>
    {% endfor %}
<style>
    img {
        weight: 100px;
        height: 100px;
    }
    td {
        border: black solid 1px;
        border-radius: 5px;
        text-align: center;
        max-width: 130px;
        min-width: 100px;
    }
    .purch {
        max-width: 120px;
    }

</style>
</table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    {% if user.is_superuser %}<td>
         <a href="{% url 'add-product' %}">Add Product</a></td>
    {% endif %}
{% endblock %}