{% extends 'base.html' %}
{% block content %}
        {% if messages %}
      {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
<table>
    {% for purchase in object_list %}
    <tr>
        <td>{{ purchase.product.title }}</td>
        <td>{{ purchase.amount }}</td>
        <td>{{ purchase.time }}</td>
    <td><form method="post" action="purchase-return">
        {% csrf_token %}
        <input type="hidden" value="{{ purchase.pk }}" name="purchase_id">
        <button type="submit">Вернуть</button>
    </form></td>
    </tr>
    {% endfor %}
</table>
    <style>
    td {
        border: black solid 1px;
        border-radius: 5px;
        text-align: center;
        max-width: 130px;
        min-width: 100px;
    }
{% endblock %}